body{
    color: #333333;
}
/* Nav bar*/
header {
    margin: .5rem 0px;
}
ul.navbar-nav {
    width: 50%;
    margin: auto;
    justify-content: center;
}
li.nav-item {
    /* width: 15%; */
    margin: auto;
    text-align: center;
}
.nav-btn {
    width: 30%;
    justify-content: space-around;
}
.my-btn{
    border-radius: 0px;
    background-color: #000001;
    color: #fff;
    /* font-weight: 800; */
    letter-spacing: 1px;
    padding: 5px 20px;
}
.my-btn:hover{
    background-color: white;
    border-color: #000001;
    color: #000001;
}
/* canvas particle*/
.banner {
    position: absolute;
    height: 400px;
    display: flex;
    top: 0;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
#particles-js {
    /* position: relative; */
    background-color: black;
    height: 375px;
}
.banner h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 18px;
}
.banner h3{
    font-size: 1.25rem;
    letter-spacing: .5px;
    word-spacing: 5px;
}
/* vision*/
.vision {
    /* margin-bottom: 3rem; */
    margin: 5rem 0px;
}
.main {
   margin-bottom: 4rem;
}
.main-title{
    color: #444343;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1rem;
}
.main-subtitle{
    font-size: 16px;
    text-align: center;
}
.box {
    border-radius: 0px;
    /* box-shadow: 0 15px 20px rgba(0,0,0,.15); */
    /* border-top: 5px #1b1a1aa1 solid; */
    border: none;
    background-color: #f7f7f79e;
}
.box-bottom{
    background-color: transparent;
    padding-left: 3rem;
}
.box-body{
    padding: 3rem;
}
.box-title{
    margin-bottom: 1.75rem;
    font-weight: 600;
    color: black;
}
.vision{
    margin-bottom: 3rem;
}

.box-bottom small{
    font-size: 80%;
    font-weight: 800;
    /* letter-spacing: 0.5px; */
    font-size: 14px;
}

.icn{
    display: inline-block;
    margin-left: 5px;
}

/* includes */
.includes{
    margin: 5rem 0;
}
.includes .card-title{
    font-size: 24px;
    font-weight: 700;
}
.row1{
    margin-bottom: 3rem;
}
.row2{

}
.includes-box{
    border: none;
}
.includes-box .card-footer{
border: none;
background-color: white;
}

/*blog*/
.recentBlogs{
    padding: 5rem 0rem;
    background-color: #f7f7f7;
}
.recentBlogs .card-img-top{
    filter: grayscale(.9);
    transition: all .3s ease-in;
}
/* .recentBlogs .card-img-top:hover{
    filter: grayscale(0);
} */
.recentBlogs .card:hover .card-img-top{
    filter: grayscale(0);
}

.recentBlogs .card-body{
    padding: 2.25rem;
}
.recentBlogs .card-title{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: black;
}
.recentBlogs .card-footer{
    background-color: white;
    border-top: none;
}
.blog-content{
    font-size: 15px;
}
p.author {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333333c2;
}
.a-title{
    text-decoration: none;
}
.a-title:hover{
    text-decoration: none;
   color: black;
}

/* Our Team*/
.our-team{
    overflow: hidden;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}
.our-team .pic{
    position: relative;
    overflow:hidden;
    border-radius: 50%;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    filter: grayscale(.6);
}
.our-team .over-layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #686666a6;
    opacity:0;
    transition: all 0.30s ease 0s;
}
.our-team:hover .over-layer{
    opacity:1;
}
.our-team .social-link{
    margin:0;
    padding:0;
    position:relative;
    top:65%;
    left:0;
    list-style:none;
    transition:all 0.50s ease 0s;
}
.our-team:hover .social-link{
    top:45%;
}
.our-team .social-link li{
    display: inline-block;
    margin-right:5px;
}
.our-team .social-link li{
    width:50px;
    height:50px;
    color:black;
    background:#fff;
    font-size:22px;
    line-height:50px;
    border-radius:50%;
    text-align: center;
    transform: translateY(0px);
    transition: all 0.40s linear 0s;
}
.our-team .social-link li:hover{
    transform: translateY(-13px);
    text-decoration:none;
}
.our-team .social-link li:hover .fa-facebook-f{
    color:#5d82d1;
}
.our-team .social-link li:hover .fa-linkedin-in{
    color:#007bb6;
}
.our-team .social-link li:hover .fa-twitter{
    color:#40bff5;
}
.our-team .team-content{
    padding:12px 25px;
    margin-top: 15px;
}
.our-team .post-title{
    margin: 0;
    color: #333333;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.team-content small{
    font-size: 14px;
    margin-top: 10px;
    display: block;
}
.team {
    padding: 5rem 0;
}

/*Newsletter*/
.newsletter-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    margin-top: 3rem;
}
.newsletter-content .form-group {
     margin-bottom: 0rem; 
    flex-basis: 40%;
    border-radius: 0px;
    /* margin-right: 1rem; */
}
.newsletter-content .form-group .form-control{
    border-radius: 0px;
}
#newsletter {
    background-color: #f7f7f7;
    padding: 5rem 0;
}
/* Footer */
#footer {
    background-color: #000001;
    padding: 5% 0px;
}
.footer-content li{
    color: #b4aeae;
}
.footer-title h3 {
    font-size: 20px;
    color: white;
}
.footer-content ul{
    list-style-type: none;
    padding: 0px;
    line-height: 1.7rem;
}
.footer-box {
    padding-left: 25%;
}
.footer-title {
    margin-bottom: 1.3rem;
}
.footer-main {
    border-bottom: 1px solid;
    padding-bottom: 1%;
}
.footer-sub-contact p {
    color: #ddd7d7;
}
.footer-sub {
    margin-top: 2rem;
}
#copyright{
    text-align: right;
}
/* Media Queries*/
@media (max-width: 575.98px) { 
    .banner h1 {
        margin-bottom: 18px;
    }
 }
